.App {
  text-align: center;
}

.content {
  background-color:rgb(36, 36, 36);
  width: 100vw;
  height: 100vh;
}

.images-buffer {
  display: none;
}

.main-canvas {
  display: block;
  margin: 0px auto;
}

.videos {
  text-align: center;
}

.videoDiv{
  display: flex;
  background-color: #252524;
  justify-content: center;
  justify-items: center;
  margin: 10px auto;
}

video {
  margin: 0 10px;
}


